@media(max-width:768px) {
    .support__item {
        margin-bottom: 1rem !important;
    }

    nav {
        display: none;
    }

    .header__cta-btn {
        padding: 0.6rem 1.2rem;
        border-radius: 5rem;
        font-size: 14px;
    }

    .hero__area-content {
        padding: 2rem 0;
        text-align: center;
    }

    .hero__counter-progress {
        gap: 1rem;
        justify-content: center;
    }

    .announcement__text {
        padding: 2rem 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        text-wrap: nowrap;
        align-items: center;
    }

    .announcement__text span {

        font-size: 14px;
    }

    .start img {
        width: 20px;
    }

    .section__heading {
        font-size: 30px;
        text-align: center;
        display: block;
    }

    .section__subheading {
        font-size: 16px;
        text-align: center;
    }

    section {
        padding: 2rem 0;
    }

    .services__area .service__item {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .testomonail__user-img img {
        width: 95%;
        height: 300px;
        margin: 0 auto;
        display: block;
    }

    .testomonail__user-img {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .testomonail__user-thoughts>p {
        font-size: 20px;
    }

    .review img {
        width: 30px;
    }

    .feature__image {
        width: 95%;
        height: 300px;
        margin: 0 auto;
    }

    .feature__image img {
        object-fit: cover;
    }

    .article__card.small {
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .secure-hosting__image {
        position: relative;
        width: 95%;
        height: 300px;
        margin: 0 auto 2rem;
    }

    .statistics__info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .feature__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 90%;
        margin: 2rem auto;
    }

    .frequently__questions .question__item h3 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .footer__bottom {
        padding: 20px 0;
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    h2.section__title {
        text-align: center;
    }

    .frequently__questions {
        margin-top: 1rem;
    }

    .frequently__questions .question__item {
        margin-bottom: 10px;
    }
}